# EmailJS
NEXT_PUBLIC_YOUR_SERVICE_ID=
NEXT_PUBLIC_YOUR_TEMPLATE_ID=
NEXT_PUBLIC_YOUR_USER_ID=

# Spotify API tokens
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# Supabase for projects, certificates, and user data
SUPABASE_URL=
SUPABASE_KEY=

# Supabase webhook revalidate secret
REVALIDATE_SECRET=

# GitHub token for stats
GITHUB_TOKEN=

# Rapid API email validation
EMAIL_VALIDATION_API=
